body{
    background-color: bisque;
}
h3{
    color: royalblue;
}
p{
    color: yellowgreen;
}
#p2tag{
    color: black;
}
.p4tag{
    color: blue;
}
.imageTag{
    height:"100%";
    width:"50%"
}

table {
    width: 70%;
}
table,td{
    border: 2px solid grey;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
}