{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
        <title>Page Title</title>
    </head>
    <body class="container">

        <h1>This is a Heading</h1>
        <p>This is a paragraph.</p>
        {% comment %} <p>{{name}}</p> {% endcomment %}
        {% comment %} <p>{{experience}}</p> {% endcomment %}
        {% for value in experience %}
        <p>Company: {{value.comapny}}<br/>Technology: {{value.tech}}<br/>Designation: {{value.designation}}</p>
        {% endfor %}

        <a href={% url 'another' %}>Go to another page</a>

    </body>
</html>
