{% load static %}
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
        <title>Register User</title>
    </head>
    <body>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <div class="card px-5 py-5" id="form1">
                        <div class="form-data" v-if="!submitted">
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="forms-inputs mb-4"> <span>Username</span> <input autocomplete="off" type="text" name="username" v-model="email" class="w-100" v-on:blur="emailBlured = true">
                                    <div class="invalid-feedback">A valid email is required!</div>
                                </div>
                                <div class="forms-inputs mb-4"> <span>Password</span> <input autocomplete="off" type="password" name="password" v-model="password" class="w-100" v-on:blur="passwordBlured = true">
                                    <div class="invalid-feedback">Password must be 8 character!</div>
                                </div>
                                <div class="forms-inputs mb-4"> <span>First Name</span> <input autocomplete="off" type="text" name="first_name" v-model="password" class="w-100" v-on:blur="passwordBlured = true">
                                    <div class="invalid-feedback">Password must be 8 character!</div>
                                </div>
                                <div class="forms-inputs mb-4"> <span>Last Name</span> <input autocomplete="off" type="text" name="last_name" v-model="password" class="w-100" v-on:blur="passwordBlured = true">
                                    <div class="invalid-feedback">Password must be 8 character!</div>
                                </div>
                                <div class="forms-inputs mb-4"> <span>Email</span> <input autocomplete="off" type="email" name="email" v-model="password" class="w-100" v-on:blur="passwordBlured = true">
                                    <div class="invalid-feedback">Password must be 8 character!</div>
                                </div>
                                <div class="mb-3"> <button v-on:click.stop.prevent="submit" type="submit" class="btn btn-dark w-100">Register</button> </div>
                            </form>
                        </div>

                        <div class="success-data" v-else>
                            <div class="text-center d-flex flex-column"> <i class='bx bxs-badge-check'></i> <a href={% url 'loginpage' %} class="text-center">Do you have account? <br> Login Here</a> </div>
                        </div>
                        {% if messages %}
                            {% for message in messages %}
                                <div class="success-data" v-else>
                                    <div class="text-center d-flex flex-column"> <i class='bx bxs-badge-check'></i> <span class="text-center fs-1"><br> {{message.message}}</span> </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>